MONGODB_DB=db_movie_booking
PORT=3000

# Nếu dùng MongoDB Atlas, thay MONGODB_URI bằng chuỗi kết nối dạng:
# mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER_NAME>/<DATABASE_NAME>?retryWrites=true&w=majority